USE [master]
GO
/****** Object:  Database [PastasElviraDB]    Script Date: 22/9/2025 22:58:50 ******/
CREATE DATABASE [PastasElviraDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PastasElviraDB', FILENAME = N'C:\Users\danie\PastasElviraDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PastasElviraDB_log', FILENAME = N'C:\Users\danie\PastasElviraDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PastasElviraDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PastasElviraDB]
GO
/****** Object:  UserDefinedTableType [dbo].[DetalleProduccionType]    Script Date: 22/9/2025 22:58:51 ******/
CREATE TYPE [dbo].[DetalleProduccionType] AS TABLE(
	[IdMateria] [int] NULL,
	[CantidadUtilizada] [decimal](10, 2) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[ItemVenta]    Script Date: 22/9/2025 22:58:51 ******/
CREATE TYPE [dbo].[ItemVenta] AS TABLE(
	[IdProducto] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[PrecioUnitario] [decimal](10, 2) NOT NULL
)
GO
/****** Object:  Table [dbo].[ProduccionReal]    Script Date: 22/9/2025 22:58:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProduccionReal](
	[IdProduccionReal] [int] IDENTITY(1,1) NOT NULL,
	[IdOrdenProduccion] [int] NOT NULL,
	[FechaInicio] [datetime] NULL,
	[FechaFin] [datetime] NULL,
	[CantidadProducida] [int] NOT NULL,
	[Observaciones] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdProduccionReal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Producto]    Script Date: 22/9/2025 22:58:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producto](
	[IdProducto] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Tipo] [nvarchar](50) NOT NULL,
	[PrecioVenta] [float] NOT NULL,
	[Visible] [bit] NOT NULL,
	[CostoProduccion] [decimal](10, 2) NOT NULL,
	[MargenGanancia] [decimal](5, 2) NOT NULL,
	[StockActual] [int] NOT NULL,
	[StockMinimo] [int] NOT NULL,
	[EsProductoBase] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 22/9/2025 22:58:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[NombreUsuario] [nvarchar](50) NOT NULL,
	[Clave] [nvarchar](200) NOT NULL,
	[Rol] [nvarchar](20) NOT NULL,
	[Activo] [bit] NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
	[UsuarioCreacion] [int] NULL,
	[FechaModificacion] [datetime] NULL,
	[UsuarioModificacion] [int] NULL,
	[Nombre] [nvarchar](100) NULL,
	[Apellido] [nvarchar](100) NULL,
	[Documento] [nvarchar](20) NULL,
	[Telefono] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[Cuil] [nvarchar](20) NULL,
	[Direccion] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrdenProduccion]    Script Date: 22/9/2025 22:58:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrdenProduccion](
	[IdOrdenProduccion] [int] IDENTITY(1,1) NOT NULL,
	[IdProducto] [int] NOT NULL,
	[CantidadPlanificada] [int] NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
	[FechaPlanificada] [datetime] NOT NULL,
	[Estado] [nvarchar](20) NOT NULL,
	[IdEmpleadoResponsable] [int] NULL,
	[Observaciones] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdOrdenProduccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VistaEstadoProduccion]    Script Date: 22/9/2025 22:58:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VistaEstadoProduccion] AS
SELECT 
    op.IdOrdenProduccion,
    p.Nombre AS Producto,
    op.CantidadPlanificada,
    op.FechaPlanificada,
    op.Estado,
    u.NombreUsuario AS EmpleadoResponsable,
    ISNULL(pr.CantidadProducida, 0) AS CantidadRealProducida,
    op.Observaciones
FROM OrdenProduccion op
INNER JOIN Producto p ON op.IdProducto = p.IdProducto
LEFT JOIN Usuario u ON op.IdEmpleadoResponsable = u.IdUsuario
LEFT JOIN ProduccionReal pr ON op.IdOrdenProduccion = pr.IdOrdenProduccion;
GO
/****** Object:  Table [dbo].[MateriaPrima]    Script Date: 22/9/2025 22:58:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MateriaPrima](
	[IdMateria] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Unidad] [nvarchar](20) NOT NULL,
	[CantidadDisponible] [float] NOT NULL,
	[StockMinimo] [int] NOT NULL,
	[PrecioUnitario] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdMateria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleConsumoMateriasPrimas]    Script Date: 22/9/2025 22:58:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleConsumoMateriasPrimas](
	[IdDetalle] [int] IDENTITY(1,1) NOT NULL,
	[IdOrdenProduccion] [int] NOT NULL,
	[IdMateriaPrima] [int] NOT NULL,
	[CantidadUtilizada] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDetalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VistaConsumoMateriasPrimas]    Script Date: 22/9/2025 22:58:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VistaConsumoMateriasPrimas] AS
SELECT 
    op.IdOrdenProduccion,
    mp.Nombre AS MateriaPrima,
    dc.CantidadUtilizada,
    mp.Unidad,
    mp.PrecioUnitario,
    (dc.CantidadUtilizada * mp.PrecioUnitario) AS CostoTotal
FROM DetalleConsumoMateriasPrimas dc
INNER JOIN OrdenProduccion op ON dc.IdOrdenProduccion = op.IdOrdenProduccion
INNER JOIN MateriaPrima mp ON dc.IdMateriaPrima = mp.IdMateria;
GO
/****** Object:  Table [dbo].[Venta]    Script Date: 22/9/2025 22:58:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Venta](
	[IdVenta] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[IdCliente] [int] NULL,
	[IdUsuario] [int] NULL,
	[Total] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdVenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ItemVenta]    Script Date: 22/9/2025 22:58:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemVenta](
	[IdItem] [int] IDENTITY(1,1) NOT NULL,
	[IdVenta] [int] NULL,
	[IdProducto] [int] NULL,
	[Cantidad] [int] NOT NULL,
	[PrecioUnitario] [float] NOT NULL,
	[Subtotal] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdItem] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 22/9/2025 22:58:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[IdCliente] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Documento] [nvarchar](20) NOT NULL,
	[Telefono] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[Direccion] [nvarchar](200) NULL,
	[Cuil] [nvarchar](20) NOT NULL,
	[Apellido] [nvarchar](100) NULL,
	[Activo] [bit] NULL,
	[FechaCreacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VW_ReporteVentasCompleto]    Script Date: 22/9/2025 22:58:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[VW_ReporteVentasCompleto] AS
SELECT 
    v.IdVenta,
    v.Fecha,
    c.Nombre + ' ' + c.Apellido AS Cliente,
    c.Documento AS DNI,
    u.NombreUsuario AS Usuario,
    v.Total,
    COUNT(iv.IdItem) AS CantidadProductos,
    STRING_AGG(p.Nombre + ' (' + CAST(iv.Cantidad AS NVARCHAR) + ')', ', ') AS Productos
FROM Venta v
INNER JOIN Cliente c ON v.IdCliente = c.IdCliente
INNER JOIN Usuario u ON v.IdUsuario = u.IdUsuario
INNER JOIN ItemVenta iv ON v.IdVenta = iv.IdVenta
INNER JOIN Producto p ON iv.IdProducto = p.IdProducto
GROUP BY v.IdVenta, v.Fecha, c.Nombre, c.Apellido, c.Documento, u.NombreUsuario, v.Total;
GO
/****** Object:  Table [dbo].[DetalleReceta]    Script Date: 22/9/2025 22:58:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleReceta](
	[IdProductoMateriaPrima] [int] IDENTITY(1,1) NOT NULL,
	[IdProducto] [int] NOT NULL,
	[IdMateria] [int] NOT NULL,
	[CantidadNecesaria] [float] NOT NULL,
	[Unidad] [nvarchar](20) NULL,
 CONSTRAINT [PK_DetalleReceta] PRIMARY KEY CLUSTERED 
(
	[IdProductoMateriaPrima] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VW_DetalleRecetaCompleto]    Script Date: 22/9/2025 22:58:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[VW_DetalleRecetaCompleto] AS
SELECT 
    dr.IdProductoMateriaPrima,
    dr.IdProducto,
    p.Nombre AS NombreProducto,
    dr.IdMateria,
    m.Nombre AS NombreMateria,
    dr.CantidadNecesaria,
    dr.Unidad,
    m.PrecioUnitario,
    (dr.CantidadNecesaria * m.PrecioUnitario) AS CostoPorUnidad
FROM DetalleReceta dr
INNER JOIN Producto p ON dr.IdProducto = p.IdProducto
INNER JOIN MateriaPrima m ON dr.IdMateria = m.IdMateria;
GO
/****** Object:  Table [dbo].[CostoFijoProduccion]    Script Date: 22/9/2025 22:58:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CostoFijoProduccion](
	[IdCosto] [int] IDENTITY(1,1) NOT NULL,
	[Concepto] [nvarchar](100) NULL,
	[Monto] [decimal](10, 2) NOT NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCosto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductoMateriaPrima]    Script Date: 22/9/2025 22:58:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductoMateriaPrima](
	[IdProductoMateriaPrima] [int] IDENTITY(1,1) NOT NULL,
	[IdProducto] [int] NOT NULL,
	[IdMateria] [int] NOT NULL,
	[CantidadNecesaria] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdProductoMateriaPrima] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VW_CostoProducto]    Script Date: 22/9/2025 22:58:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[VW_CostoProducto]
AS
SELECT 
    p.IdProducto,
    p.Nombre,
    -- Costo de materias primas por receta
    ISNULL(SUM(pm.CantidadNecesaria * mp.PrecioUnitario), 0) AS CostoMateriasPrimas,
    -- Suma de costos fijos activos
    (SELECT SUM(Monto) FROM CostoFijoProduccion WHERE Activo = 1) AS CostosFijos,
    -- Costo total = materias primas + costos fijos prorrateados (ejemplo simple)
    ISNULL(SUM(pm.CantidadNecesaria * mp.PrecioUnitario), 0) +
    (SELECT SUM(Monto) FROM CostoFijoProduccion WHERE Activo = 1) AS CostoTotal,
    -- Precio sugerido con margen de ganancia
    (ISNULL(SUM(pm.CantidadNecesaria * mp.PrecioUnitario), 0) +
    (SELECT SUM(Monto) FROM CostoFijoProduccion WHERE Activo = 1)) 
    * (1 + p.MargenGanancia / 100.0) AS PrecioSugerido
FROM Producto p
LEFT JOIN ProductoMateriaPrima pm ON p.IdProducto = pm.IdProducto
LEFT JOIN MateriaPrima mp ON pm.IdMateria = mp.IdMateria
GROUP BY p.IdProducto, p.Nombre, p.MargenGanancia;
GO
/****** Object:  Table [dbo].[AlertaStock]    Script Date: 22/9/2025 22:58:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AlertaStock](
	[IdAlerta] [int] IDENTITY(1,1) NOT NULL,
	[IdProducto] [int] NOT NULL,
	[FechaAlerta] [datetime] NOT NULL,
	[Mensaje] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdAlerta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleProduccion]    Script Date: 22/9/2025 22:58:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleProduccion](
	[IdDetalleProduccion] [int] IDENTITY(1,1) NOT NULL,
	[IdProduccion] [int] NOT NULL,
	[IdMateria] [int] NOT NULL,
	[CantidadUtilizada] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_DetalleProduccion] PRIMARY KEY CLUSTERED 
(
	[IdDetalleProduccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleVenta]    Script Date: 22/9/2025 22:58:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleVenta](
	[IdDetalleVenta] [int] IDENTITY(1,1) NOT NULL,
	[IdVenta] [int] NOT NULL,
	[IdProducto] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[PrecioUnitario] [decimal](10, 2) NOT NULL,
	[Subtotal]  AS ([Cantidad]*[PrecioUnitario]) PERSISTED,
PRIMARY KEY CLUSTERED 
(
	[IdDetalleVenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Produccion]    Script Date: 22/9/2025 22:58:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Produccion](
	[IdProduccion] [int] IDENTITY(1,1) NOT NULL,
	[IdProducto] [int] NOT NULL,
	[CantidadProducida] [int] NOT NULL,
	[FechaProduccion] [datetime] NULL,
	[Estado] [nvarchar](20) NOT NULL,
	[IdEmpleadoResponsable] [int] NULL,
	[FechaPlanificada] [datetime] NULL,
	[FechaInicioReal] [datetime] NULL,
	[FechaFinReal] [datetime] NULL,
	[Observaciones] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdProduccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AlertaStock] ON 

INSERT [dbo].[AlertaStock] ([IdAlerta], [IdProducto], [FechaAlerta], [Mensaje]) VALUES (1, 1, CAST(N'2025-09-19T13:14:54.020' AS DateTime), N'El producto "Pollo y Verdura" alcanzó un stock crítico: 0')
INSERT [dbo].[AlertaStock] ([IdAlerta], [IdProducto], [FechaAlerta], [Mensaje]) VALUES (2, 1, CAST(N'2025-09-19T18:48:21.513' AS DateTime), N'El producto "Pollo y Verdura" alcanzó un stock crítico: 0')
INSERT [dbo].[AlertaStock] ([IdAlerta], [IdProducto], [FechaAlerta], [Mensaje]) VALUES (3, 1, CAST(N'2025-09-19T18:48:32.470' AS DateTime), N'El producto "Pollo y Verdura" alcanzó un stock crítico: 1')
SET IDENTITY_INSERT [dbo].[AlertaStock] OFF
GO
SET IDENTITY_INSERT [dbo].[Cliente] ON 

INSERT [dbo].[Cliente] ([IdCliente], [Nombre], [Documento], [Telefono], [Email], [Direccion], [Cuil], [Apellido], [Activo], [FechaCreacion]) VALUES (2, N'Mateo', N'11111111', N'1111111111', N'mgonzalez@gmail.com', N'Colinas 123', N'11111111111', N'Gonzalez', 0, CAST(N'2025-09-21T12:12:02.300' AS DateTime))
INSERT [dbo].[Cliente] ([IdCliente], [Nombre], [Documento], [Telefono], [Email], [Direccion], [Cuil], [Apellido], [Activo], [FechaCreacion]) VALUES (3, N'Luna', N'22222222', N'2222222222', N'lamarilla@gmail.com', N'Vacas 123', N'22222222222', N'Amarilla', 0, CAST(N'2025-09-21T12:32:49.503' AS DateTime))
SET IDENTITY_INSERT [dbo].[Cliente] OFF
GO
SET IDENTITY_INSERT [dbo].[CostoFijoProduccion] ON 

INSERT [dbo].[CostoFijoProduccion] ([IdCosto], [Concepto], [Monto], [Activo]) VALUES (1, N'Energía Eléctrica', CAST(381466.05 AS Decimal(10, 2)), 1)
INSERT [dbo].[CostoFijoProduccion] ([IdCosto], [Concepto], [Monto], [Activo]) VALUES (2, N'Agua Corriente', CAST(86419.15 AS Decimal(10, 2)), 1)
INSERT [dbo].[CostoFijoProduccion] ([IdCosto], [Concepto], [Monto], [Activo]) VALUES (3, N'Alquiler', CAST(2500000.00 AS Decimal(10, 2)), 1)
SET IDENTITY_INSERT [dbo].[CostoFijoProduccion] OFF
GO
SET IDENTITY_INSERT [dbo].[DetalleVenta] ON 

INSERT [dbo].[DetalleVenta] ([IdDetalleVenta], [IdVenta], [IdProducto], [Cantidad], [PrecioUnitario]) VALUES (1, 4, 1, 1, CAST(1500.00 AS Decimal(10, 2)))
INSERT [dbo].[DetalleVenta] ([IdDetalleVenta], [IdVenta], [IdProducto], [Cantidad], [PrecioUnitario]) VALUES (2, 4, 2, 1, CAST(1500.00 AS Decimal(10, 2)))
INSERT [dbo].[DetalleVenta] ([IdDetalleVenta], [IdVenta], [IdProducto], [Cantidad], [PrecioUnitario]) VALUES (3, 4, 5, 1, CAST(1500.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[DetalleVenta] OFF
GO
SET IDENTITY_INSERT [dbo].[MateriaPrima] ON 

INSERT [dbo].[MateriaPrima] ([IdMateria], [Nombre], [Unidad], [CantidadDisponible], [StockMinimo], [PrecioUnitario]) VALUES (1, N'Harina 000', N'Kg', 5, 1, CAST(1000.00 AS Decimal(10, 2)))
INSERT [dbo].[MateriaPrima] ([IdMateria], [Nombre], [Unidad], [CantidadDisponible], [StockMinimo], [PrecioUnitario]) VALUES (2, N'Huevo', N'Un', 50, 1, CAST(1700.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[MateriaPrima] OFF
GO
SET IDENTITY_INSERT [dbo].[Produccion] ON 

INSERT [dbo].[Produccion] ([IdProduccion], [IdProducto], [CantidadProducida], [FechaProduccion], [Estado], [IdEmpleadoResponsable], [FechaPlanificada], [FechaInicioReal], [FechaFinReal], [Observaciones]) VALUES (1, 1, 50, CAST(N'2025-09-19T13:02:16.040' AS DateTime), N'Planificado', NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Produccion] OFF
GO
SET IDENTITY_INSERT [dbo].[Producto] ON 

INSERT [dbo].[Producto] ([IdProducto], [Nombre], [Tipo], [PrecioVenta], [Visible], [CostoProduccion], [MargenGanancia], [StockActual], [StockMinimo], [EsProductoBase]) VALUES (1, N'Pollo y Verdura', N'Ravioles', 1500, 1, CAST(3019551.90 AS Decimal(10, 2)), CAST(20.00 AS Decimal(5, 2)), 2499, 1, NULL)
INSERT [dbo].[Producto] ([IdProducto], [Nombre], [Tipo], [PrecioVenta], [Visible], [CostoProduccion], [MargenGanancia], [StockActual], [StockMinimo], [EsProductoBase]) VALUES (2, N'Pollo y Verdura', N'Canelones', 1500, 1, CAST(3019551.90 AS Decimal(10, 2)), CAST(20.00 AS Decimal(5, 2)), 2499, 1, NULL)
INSERT [dbo].[Producto] ([IdProducto], [Nombre], [Tipo], [PrecioVenta], [Visible], [CostoProduccion], [MargenGanancia], [StockActual], [StockMinimo], [EsProductoBase]) VALUES (3, N'Tallarines', N'Pastas', 1500, 1, CAST(3019551.90 AS Decimal(10, 2)), CAST(20.00 AS Decimal(5, 2)), 2500, 1, NULL)
SET IDENTITY_INSERT [dbo].[Producto] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([IdUsuario], [NombreUsuario], [Clave], [Rol], [Activo], [FechaCreacion], [UsuarioCreacion], [FechaModificacion], [UsuarioModificacion], [Nombre], [Apellido], [Documento], [Telefono], [Email], [Cuil], [Direccion]) VALUES (1, N'jperez', N'123456', N'DUEÑO', 1, CAST(N'2025-09-16T21:46:07.987' AS DateTime), NULL, NULL, NULL, N'Juan', N'Perez', N'40000000', N'3777777777', N'jperez@gmail.com', N'20400000000', N'Casa Linda 123')
INSERT [dbo].[Usuario] ([IdUsuario], [NombreUsuario], [Clave], [Rol], [Activo], [FechaCreacion], [UsuarioCreacion], [FechaModificacion], [UsuarioModificacion], [Nombre], [Apellido], [Documento], [Telefono], [Email], [Cuil], [Direccion]) VALUES (2, N'mgomez', N'123456', N'ADMIN', 1, CAST(N'2025-09-16T21:46:08.120' AS DateTime), NULL, NULL, NULL, N'Manuel', N'Gomez', N'41111111', N'379999999', N'mgomez@gmail.com', N'20411111112', N'Leon 123')
INSERT [dbo].[Usuario] ([IdUsuario], [NombreUsuario], [Clave], [Rol], [Activo], [FechaCreacion], [UsuarioCreacion], [FechaModificacion], [UsuarioModificacion], [Nombre], [Apellido], [Documento], [Telefono], [Email], [Cuil], [Direccion]) VALUES (3, N'clopez', N'123456', N'VENDEDOR', 1, CAST(N'2025-09-16T21:46:08.120' AS DateTime), NULL, NULL, NULL, N'Carla', N'Perez', N'4222222', N'379444444', N'clopez@gmail.com', N'2142222221', N'Gato 123')
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
SET IDENTITY_INSERT [dbo].[Venta] ON 

INSERT [dbo].[Venta] ([IdVenta], [Fecha], [IdCliente], [IdUsuario], [Total]) VALUES (4, CAST(N'2025-09-22T16:43:32.470' AS DateTime), 3, 3, CAST(4500.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Venta] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Cliente__AF73706DFC6882EF]    Script Date: 22/9/2025 22:58:52 ******/
ALTER TABLE [dbo].[Cliente] ADD UNIQUE NONCLUSTERED 
(
	[Documento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Usuario__6B0F5AE07A5EED07]    Script Date: 22/9/2025 22:58:52 ******/
ALTER TABLE [dbo].[Usuario] ADD UNIQUE NONCLUSTERED 
(
	[NombreUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AlertaStock] ADD  DEFAULT (getdate()) FOR [FechaAlerta]
GO
ALTER TABLE [dbo].[Cliente] ADD  CONSTRAINT [DF_Cliente_Cuil]  DEFAULT ('') FOR [Cuil]
GO
ALTER TABLE [dbo].[Cliente] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Cliente] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[CostoFijoProduccion] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[ItemVenta] ADD  DEFAULT ((0)) FOR [Subtotal]
GO
ALTER TABLE [dbo].[MateriaPrima] ADD  DEFAULT ((5)) FOR [StockMinimo]
GO
ALTER TABLE [dbo].[MateriaPrima] ADD  DEFAULT ((0)) FOR [PrecioUnitario]
GO
ALTER TABLE [dbo].[OrdenProduccion] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[OrdenProduccion] ADD  DEFAULT ('Planificado') FOR [Estado]
GO
ALTER TABLE [dbo].[Produccion] ADD  DEFAULT (getdate()) FOR [FechaProduccion]
GO
ALTER TABLE [dbo].[Produccion] ADD  DEFAULT ('Planificado') FOR [Estado]
GO
ALTER TABLE [dbo].[Producto] ADD  DEFAULT ((1)) FOR [Visible]
GO
ALTER TABLE [dbo].[Producto] ADD  DEFAULT ((0)) FOR [CostoProduccion]
GO
ALTER TABLE [dbo].[Producto] ADD  DEFAULT ((0)) FOR [MargenGanancia]
GO
ALTER TABLE [dbo].[Producto] ADD  CONSTRAINT [DF_Producto_StockActual]  DEFAULT ((0)) FOR [StockActual]
GO
ALTER TABLE [dbo].[Producto] ADD  CONSTRAINT [DF_Producto_StockMinimo]  DEFAULT ((0)) FOR [StockMinimo]
GO
ALTER TABLE [dbo].[Producto] ADD  DEFAULT ((1)) FOR [EsProductoBase]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Venta] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[Venta] ADD  DEFAULT ((0)) FOR [Total]
GO
ALTER TABLE [dbo].[AlertaStock]  WITH CHECK ADD FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Producto] ([IdProducto])
GO
ALTER TABLE [dbo].[DetalleConsumoMateriasPrimas]  WITH CHECK ADD  CONSTRAINT [FK_DetalleConsumo_MateriaPrima] FOREIGN KEY([IdMateriaPrima])
REFERENCES [dbo].[MateriaPrima] ([IdMateria])
GO
ALTER TABLE [dbo].[DetalleConsumoMateriasPrimas] CHECK CONSTRAINT [FK_DetalleConsumo_MateriaPrima]
GO
ALTER TABLE [dbo].[DetalleConsumoMateriasPrimas]  WITH CHECK ADD  CONSTRAINT [FK_DetalleConsumo_Orden] FOREIGN KEY([IdOrdenProduccion])
REFERENCES [dbo].[OrdenProduccion] ([IdOrdenProduccion])
GO
ALTER TABLE [dbo].[DetalleConsumoMateriasPrimas] CHECK CONSTRAINT [FK_DetalleConsumo_Orden]
GO
ALTER TABLE [dbo].[DetalleProduccion]  WITH CHECK ADD  CONSTRAINT [FK_DetalleProduccion_MateriaPrima] FOREIGN KEY([IdMateria])
REFERENCES [dbo].[MateriaPrima] ([IdMateria])
GO
ALTER TABLE [dbo].[DetalleProduccion] CHECK CONSTRAINT [FK_DetalleProduccion_MateriaPrima]
GO
ALTER TABLE [dbo].[DetalleProduccion]  WITH CHECK ADD  CONSTRAINT [FK_DetalleProduccion_Produccion] FOREIGN KEY([IdProduccion])
REFERENCES [dbo].[Produccion] ([IdProduccion])
GO
ALTER TABLE [dbo].[DetalleProduccion] CHECK CONSTRAINT [FK_DetalleProduccion_Produccion]
GO
ALTER TABLE [dbo].[DetalleReceta]  WITH CHECK ADD  CONSTRAINT [FK_DetalleReceta_MateriaPrima] FOREIGN KEY([IdMateria])
REFERENCES [dbo].[MateriaPrima] ([IdMateria])
GO
ALTER TABLE [dbo].[DetalleReceta] CHECK CONSTRAINT [FK_DetalleReceta_MateriaPrima]
GO
ALTER TABLE [dbo].[DetalleReceta]  WITH CHECK ADD  CONSTRAINT [FK_DetalleReceta_Producto] FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Producto] ([IdProducto])
GO
ALTER TABLE [dbo].[DetalleReceta] CHECK CONSTRAINT [FK_DetalleReceta_Producto]
GO
ALTER TABLE [dbo].[DetalleVenta]  WITH CHECK ADD FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Producto] ([IdProducto])
GO
ALTER TABLE [dbo].[DetalleVenta]  WITH CHECK ADD FOREIGN KEY([IdVenta])
REFERENCES [dbo].[Venta] ([IdVenta])
GO
ALTER TABLE [dbo].[ItemVenta]  WITH CHECK ADD FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Producto] ([IdProducto])
GO
ALTER TABLE [dbo].[ItemVenta]  WITH CHECK ADD FOREIGN KEY([IdVenta])
REFERENCES [dbo].[Venta] ([IdVenta])
GO
ALTER TABLE [dbo].[ItemVenta]  WITH CHECK ADD  CONSTRAINT [FK_ItemVenta_Producto] FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Producto] ([IdProducto])
GO
ALTER TABLE [dbo].[ItemVenta] CHECK CONSTRAINT [FK_ItemVenta_Producto]
GO
ALTER TABLE [dbo].[ItemVenta]  WITH CHECK ADD  CONSTRAINT [FK_ItemVenta_Venta] FOREIGN KEY([IdVenta])
REFERENCES [dbo].[Venta] ([IdVenta])
GO
ALTER TABLE [dbo].[ItemVenta] CHECK CONSTRAINT [FK_ItemVenta_Venta]
GO
ALTER TABLE [dbo].[OrdenProduccion]  WITH CHECK ADD  CONSTRAINT [FK_OrdenProduccion_Producto] FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Producto] ([IdProducto])
GO
ALTER TABLE [dbo].[OrdenProduccion] CHECK CONSTRAINT [FK_OrdenProduccion_Producto]
GO
ALTER TABLE [dbo].[OrdenProduccion]  WITH CHECK ADD  CONSTRAINT [FK_OrdenProduccion_Usuario] FOREIGN KEY([IdEmpleadoResponsable])
REFERENCES [dbo].[Usuario] ([IdUsuario])
GO
ALTER TABLE [dbo].[OrdenProduccion] CHECK CONSTRAINT [FK_OrdenProduccion_Usuario]
GO
ALTER TABLE [dbo].[Produccion]  WITH CHECK ADD FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Producto] ([IdProducto])
GO
ALTER TABLE [dbo].[Produccion]  WITH CHECK ADD  CONSTRAINT [FK_Produccion_Usuario] FOREIGN KEY([IdEmpleadoResponsable])
REFERENCES [dbo].[Usuario] ([IdUsuario])
GO
ALTER TABLE [dbo].[Produccion] CHECK CONSTRAINT [FK_Produccion_Usuario]
GO
ALTER TABLE [dbo].[ProduccionReal]  WITH CHECK ADD  CONSTRAINT [FK_ProduccionReal_Orden] FOREIGN KEY([IdOrdenProduccion])
REFERENCES [dbo].[OrdenProduccion] ([IdOrdenProduccion])
GO
ALTER TABLE [dbo].[ProduccionReal] CHECK CONSTRAINT [FK_ProduccionReal_Orden]
GO
ALTER TABLE [dbo].[ProductoMateriaPrima]  WITH CHECK ADD FOREIGN KEY([IdMateria])
REFERENCES [dbo].[MateriaPrima] ([IdMateria])
GO
ALTER TABLE [dbo].[ProductoMateriaPrima]  WITH CHECK ADD FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Producto] ([IdProducto])
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_UsuarioCreacion] FOREIGN KEY([UsuarioCreacion])
REFERENCES [dbo].[Usuario] ([IdUsuario])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_UsuarioCreacion]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_UsuarioModificacion] FOREIGN KEY([UsuarioModificacion])
REFERENCES [dbo].[Usuario] ([IdUsuario])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_UsuarioModificacion]
GO
ALTER TABLE [dbo].[Venta]  WITH CHECK ADD  CONSTRAINT [FK_Venta_Cliente] FOREIGN KEY([IdCliente])
REFERENCES [dbo].[Cliente] ([IdCliente])
GO
ALTER TABLE [dbo].[Venta] CHECK CONSTRAINT [FK_Venta_Cliente]
GO
ALTER TABLE [dbo].[Venta]  WITH CHECK ADD  CONSTRAINT [FK_Venta_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([IdUsuario])
GO
ALTER TABLE [dbo].[Venta] CHECK CONSTRAINT [FK_Venta_Usuario]
GO
/****** Object:  StoredProcedure [dbo].[CalcularCostoProducto]    Script Date: 22/9/2025 22:58:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CalcularCostoProducto]
    @IdProducto INT,
    @CostoTotal DECIMAL(10,2) OUTPUT,
    @PrecioSugerido DECIMAL(10,2) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @CostoMaterias DECIMAL(10,2) = 0,
            @CostoFijos DECIMAL(10,2) = 0;

    -- Costo de materias primas por receta
    SELECT @CostoMaterias = ISNULL(SUM(mp.PrecioUnitario * pm.CantidadNecesaria), 0)
    FROM ProductoMateriaPrima pm
    INNER JOIN MateriaPrima mp ON pm.IdMateria = mp.IdMateria
    WHERE pm.IdProducto = @IdProducto;

    -- Costo fijo (se puede repartir por cantidad producida o de forma estándar)
    SELECT @CostoFijos = ISNULL(SUM(Monto), 0)
    FROM CostoFijoProduccion
    WHERE Activo = 1;

    -- Costo total de producción = materias + fijos
    SET @CostoTotal = @CostoMaterias + @CostoFijos;

    -- Obtener margen de ganancia del producto
    DECLARE @MargenGanancia DECIMAL(5,2);
    SELECT @MargenGanancia = MargenGanancia FROM Producto WHERE IdProducto = @IdProducto;

    -- Precio sugerido con margen de ganancia
    SET @PrecioSugerido = @CostoTotal * (1 + @MargenGanancia / 100.0);

    -- Actualizar producto
    UPDATE Producto
    SET CostoProduccion = @CostoTotal,
        PrecioVenta = @PrecioSugerido
    WHERE IdProducto = @IdProducto;
END
GO
/****** Object:  StoredProcedure [dbo].[RegistrarProduccion]    Script Date: 22/9/2025 22:58:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RegistrarProduccion]
    @IdProducto INT,
    @CantidadProducida INT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        -- 1. Insertar la producción
        INSERT INTO Produccion (IdProducto, CantidadProducida, FechaProduccion)
        VALUES (@IdProducto, @CantidadProducida, GETDATE());

        -- 2. Actualizar stock de materias primas
        UPDATE mp
        SET mp.CantidadDisponible = mp.CantidadDisponible - (pm.CantidadNecesaria * @CantidadProducida)
        FROM MateriaPrima mp
        INNER JOIN ProductoMateriaPrima pm ON mp.IdMateria = pm.IdMateria
        WHERE pm.IdProducto = @IdProducto;

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ActualizarUsuario]    Script Date: 22/9/2025 22:58:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP_ActualizarUsuario
CREATE PROCEDURE [dbo].[SP_ActualizarUsuario]
    @IdUsuario INT,
    @Nombre NVARCHAR(50),
    @Password NVARCHAR(100) = NULL,
    @Rol NVARCHAR(20),
    @Activo BIT,
    @IdUsuarioModificacion INT
AS
BEGIN
    IF @Password IS NULL
    BEGIN
        UPDATE Usuario SET
            NombreUsuario = @Nombre,
            Rol = @Rol,
            Activo = @Activo,
            FechaModificacion = GETDATE(),
            UsuarioModificacion = @IdUsuarioModificacion
        WHERE IdUsuario = @IdUsuario
    END
    ELSE
    BEGIN
        UPDATE Usuario SET
            NombreUsuario = @Nombre,
            Clave = HASHBYTES('SHA2_256', @Password),
            Rol = @Rol,
            Activo = @Activo,
            FechaModificacion = GETDATE(),
            UsuarioModificacion = @IdUsuarioModificacion
        WHERE IdUsuario = @IdUsuario
    END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_AgregarMateriaPrimaAReceta]    Script Date: 22/9/2025 22:58:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_AgregarMateriaPrimaAReceta]
    @IdProducto INT,
    @IdMateria INT,
    @CantidadNecesaria FLOAT,
    @Unidad NVARCHAR(20) = NULL
AS
BEGIN
    INSERT INTO DetalleReceta (IdProducto, IdMateria, CantidadNecesaria, Unidad)
    VALUES (@IdProducto, @IdMateria, @CantidadNecesaria, @Unidad);
    
    SELECT SCOPE_IDENTITY() AS IdGenerado;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_AgregarProductoMateriaPrima]    Script Date: 22/9/2025 22:58:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Asignar materia prima a un producto
CREATE   PROCEDURE [dbo].[sp_AgregarProductoMateriaPrima]
    @IdProducto INT,
    @IdMateria INT,
    @CantidadNecesaria FLOAT
AS
BEGIN
    INSERT INTO ProductoMateriaPrima (IdProducto, IdMateria, CantidadNecesaria)
    VALUES (@IdProducto, @IdMateria, @CantidadNecesaria);
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_BORRAPRODUCTO]    Script Date: 22/9/2025 22:58:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_BORRAPRODUCTO]
    @IdProducto INT,
    @Respuesta BIT OUTPUT,
    @Mensaje NVARCHAR(200) OUTPUT
AS
BEGIN
    BEGIN TRY
        UPDATE Producto SET Visible = 0 WHERE IdProducto = @IdProducto;
        SET @Respuesta = 1;
        SET @Mensaje = 'Producto ocultado correctamente.';
    END TRY
    BEGIN CATCH
        SET @Respuesta = 0;
        SET @Mensaje = ERROR_MESSAGE();
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ConsumoMateriaPrimaPorPeriodo]    Script Date: 22/9/2025 22:58:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ConsumoMateriaPrimaPorPeriodo]
    @FechaInicio DATE,
    @FechaFin DATE
AS
BEGIN
    SELECT 
        m.Nombre AS MateriaPrima, 
        SUM(pm.CantidadNecesaria * iv.Cantidad) AS CantidadConsumida, 
        m.Unidad,
        SUM(pm.CantidadNecesaria * iv.Cantidad * m.PrecioUnitario) AS CostoTotal
    FROM Venta v
    INNER JOIN ItemVenta iv ON v.IdVenta = iv.IdVenta
    INNER JOIN ProductoMateriaPrima pm ON iv.IdProducto = pm.IdProducto
    INNER JOIN MateriaPrima m ON pm.IdMateria = m.IdMateria
    WHERE v.Fecha BETWEEN @FechaInicio AND @FechaFin
    GROUP BY m.Nombre, m.Unidad
    ORDER BY CantidadConsumida DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ConsumoMateriaPrimaPorVenta]    Script Date: 22/9/2025 22:58:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_ConsumoMateriaPrimaPorVenta]
    @IdVenta INT
AS
BEGIN
    SELECT m.Nombre AS MateriaPrima, SUM(pm.CantidadNecesaria * iv.Cantidad) AS CantidadConsumida, m.Unidad
    FROM ItemVenta iv
    INNER JOIN ProductoMateriaPrima pm ON iv.IdProducto = pm.IdProducto
    INNER JOIN MateriaPrima m ON pm.IdMateria = m.IdMateria
    WHERE iv.IdVenta = @IdVenta
    GROUP BY m.Nombre, m.Unidad;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_CrearOrdenProduccion]    Script Date: 22/9/2025 22:58:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CrearOrdenProduccion]
    @IdProducto INT,
    @CantidadPlanificada INT,
    @FechaPlanificada DATETIME,
    @IdEmpleadoResponsable INT = NULL,
    @Observaciones NVARCHAR(255) = NULL,
    @IdOrden INT OUTPUT
AS
BEGIN
    INSERT INTO OrdenProduccion (IdProducto, CantidadPlanificada, FechaPlanificada, IdEmpleadoResponsable, Observaciones)
    VALUES (@IdProducto, @CantidadPlanificada, @FechaPlanificada, @IdEmpleadoResponsable, @Observaciones);
    
    SET @IdOrden = SCOPE_IDENTITY();
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_CrearUsuario]    Script Date: 22/9/2025 22:58:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP_CrearUsuario
CREATE PROCEDURE [dbo].[SP_CrearUsuario]
    @Nombre NVARCHAR(50),
    @Password NVARCHAR(100),
    @Rol NVARCHAR(20),
    @Activo BIT,
    @IdUsuarioCreacion INT
AS
BEGIN
    INSERT INTO Usuario (
        NombreUsuario, 
        Clave, 
        Rol, 
        Activo, 
        FechaCreacion, 
        UsuarioCreacion
    )
    VALUES (
        @Nombre,
        HASHBYTES('SHA2_256', @Password),
        @Rol,
        @Activo,
        GETDATE(),
        @IdUsuarioCreacion
    )
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DetalleVenta]    Script Date: 22/9/2025 22:58:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_DetalleVenta]
    @IdVenta INT
AS
BEGIN
    SELECT iv.IdItem, p.Nombre AS Producto, iv.Cantidad, iv.PrecioUnitario, iv.Subtotal
    FROM ItemVenta iv
    INNER JOIN Producto p ON iv.IdProducto = p.IdProducto
    WHERE iv.IdVenta = @IdVenta;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_EDITAPRODUCTO]    Script Date: 22/9/2025 22:58:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_EDITAPRODUCTO]
    @IdProducto INT,
    @Nombre NVARCHAR(100),
    @Tipo NVARCHAR(50),
    @PrecioVenta DECIMAL(10,2),
    @StockActual INT,
    @StockMinimo INT,
    @Visible BIT,
    @EsProductoBase BIT = 1,
    @Respuesta BIT OUTPUT,
    @Mensaje NVARCHAR(200) OUTPUT
AS
BEGIN
    BEGIN TRY
        UPDATE Producto SET
            Nombre = @Nombre,
            Tipo = @Tipo,
            PrecioVenta = @PrecioVenta,
            StockActual = @StockActual,
            StockMinimo = @StockMinimo,
            Visible = @Visible,
            EsProductoBase = @EsProductoBase
        WHERE IdProducto = @IdProducto;

        SET @Respuesta = 1;
        SET @Mensaje = 'Producto actualizado correctamente.';
    END TRY
    BEGIN CATCH
        SET @Respuesta = 0;
        SET @Mensaje = ERROR_MESSAGE();
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_EditarCliente]    Script Date: 22/9/2025 22:58:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_EditarCliente]
    @IdCliente INT,
    @Nombre NVARCHAR(100),
    @Apellido NVARCHAR(100),
    @Documento NVARCHAR(20),
    @Cuil NVARCHAR(20) = NULL,
    @Telefono NVARCHAR(20) = NULL,
    @Email NVARCHAR(100) = NULL,
    @Direccion NVARCHAR(200) = NULL,
    @Activo BIT,
    @Respuesta BIT OUTPUT,
    @Mensaje NVARCHAR(200) OUTPUT
AS
BEGIN
    BEGIN TRY
        -- Manejar valor NULL para Cuil
        IF @Cuil IS NULL
            SET @Cuil = '';
        
        UPDATE Cliente SET
            Nombre = @Nombre,
            Apellido = @Apellido,
            Documento = @Documento,
            Cuil = @Cuil,
            Telefono = @Telefono,
            Email = @Email,
            Direccion = @Direccion,
            Activo = @Activo
        WHERE IdCliente = @IdCliente;

        SET @Respuesta = 1;
        SET @Mensaje = 'Cliente actualizado correctamente.';
    END TRY
    BEGIN CATCH
        SET @Respuesta = 0;
        SET @Mensaje = ERROR_MESSAGE();
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_EditarMateriaPrima]    Script Date: 22/9/2025 22:58:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Editar materia prima
CREATE   PROCEDURE [dbo].[sp_EditarMateriaPrima]
    @IdMateria INT,
    @Nombre NVARCHAR(100),
    @Unidad NVARCHAR(20),
    @CantidadDisponible FLOAT
AS
BEGIN
    UPDATE MateriaPrima
    SET Nombre = @Nombre, Unidad = @Unidad, CantidadDisponible = @CantidadDisponible
    WHERE IdMateria = @IdMateria;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_EliminarCliente]    Script Date: 22/9/2025 22:58:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_EliminarCliente]
    @IdCliente INT,
    @Respuesta BIT OUTPUT,
    @Mensaje NVARCHAR(200) OUTPUT
AS
BEGIN
    BEGIN TRY
        UPDATE Cliente SET Activo = 0 WHERE IdCliente = @IdCliente;
        SET @Respuesta = 1;
        SET @Mensaje = 'Cliente eliminado correctamente.';
    END TRY
    BEGIN CATCH
        SET @Respuesta = 0;
        SET @Mensaje = ERROR_MESSAGE();
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_EliminarMateriaPrima]    Script Date: 22/9/2025 22:58:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Eliminar materia prima
CREATE   PROCEDURE [dbo].[sp_EliminarMateriaPrima]
    @IdMateria INT
AS
BEGIN
    DELETE FROM MateriaPrima WHERE IdMateria = @IdMateria;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_EliminarMateriaPrimaDeReceta]    Script Date: 22/9/2025 22:58:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_EliminarMateriaPrimaDeReceta]
    @IdProductoMateriaPrima INT
AS
BEGIN
    DELETE FROM DetalleReceta WHERE IdProductoMateriaPrima = @IdProductoMateriaPrima;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_EliminarUsuario]    Script Date: 22/9/2025 22:58:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP_EliminarUsuario
CREATE PROCEDURE [dbo].[SP_EliminarUsuario]
    @IdUsuario INT,
    @IdUsuarioEliminacion INT
AS
BEGIN
    UPDATE Usuario SET
        Activo = 0,
        FechaModificacion = GETDATE(),
        UsuarioModificacion = @IdUsuarioEliminacion
    WHERE IdUsuario = @IdUsuario
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ExisteUsuario]    Script Date: 22/9/2025 22:58:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP_ExisteUsuario
CREATE PROCEDURE [dbo].[SP_ExisteUsuario]
    @Nombre NVARCHAR(50)
AS
BEGIN
    SELECT COUNT(*)
    FROM Usuario
    WHERE NombreUsuario = @Nombre
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ListarClientes]    Script Date: 22/9/2025 22:58:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_ListarClientes]
AS
BEGIN
    SELECT 
        IdCliente,
        Nombre,
        Apellido,
        Documento,
        Cuil,
        Telefono,
        Email,
        Direccion,
        Activo,
        FechaCreacion
    FROM Cliente
    ORDER BY Nombre, Apellido;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarMateriasPrimas]    Script Date: 22/9/2025 22:58:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Listar materias primas
CREATE   PROCEDURE [dbo].[sp_ListarMateriasPrimas]
AS
BEGIN
    SELECT IdMateria, Nombre, Unidad, CantidadDisponible
    FROM MateriaPrima;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_ListarOrdenesProduccion]    Script Date: 22/9/2025 22:58:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ListarOrdenesProduccion]
    @Estado NVARCHAR(20) = NULL
AS
BEGIN
    SELECT 
        op.IdOrdenProduccion,
        p.Nombre AS Producto,
        op.CantidadPlanificada,
        op.FechaCreacion,
        op.FechaPlanificada,
        op.Estado,
        u.NombreUsuario AS EmpleadoResponsable,
        op.Observaciones
    FROM OrdenProduccion op
    INNER JOIN Producto p ON op.IdProducto = p.IdProducto
    LEFT JOIN Usuario u ON op.IdEmpleadoResponsable = u.IdUsuario
    WHERE (@Estado IS NULL OR op.Estado = @Estado)
    ORDER BY op.FechaPlanificada DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarProductos]    Script Date: 22/9/2025 22:58:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Listar productos
CREATE   PROCEDURE [dbo].[sp_ListarProductos]
AS
BEGIN
    SELECT IdProducto, Nombre, Tipo, PrecioVenta, StockActual, StockMinimo, Visible
    FROM Producto;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_ListarRecetaProducto]    Script Date: 22/9/2025 22:58:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_ListarRecetaProducto]
    @IdProducto INT
AS
BEGIN
    SELECT 
        pm.IdProductoMateriaPrima,
        m.Nombre AS NombreMateria,
        pm.CantidadNecesaria,
        m.Unidad
    FROM DetalleReceta pm
    INNER JOIN MateriaPrima m ON pm.IdMateria = m.IdMateria
    WHERE pm.IdProducto = @IdProducto
    ORDER BY m.Nombre;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ListarUsuarios]    Script Date: 22/9/2025 22:58:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP_ListarUsuarios
CREATE PROCEDURE [dbo].[SP_ListarUsuarios]
AS
BEGIN
    SELECT 
        IdUsuario,
        NombreUsuario,
        Rol,
        Activo,
        FechaCreacion,
        (SELECT NombreUsuario FROM Usuario WHERE IdUsuario = u.UsuarioCreacion) as UsuarioCreacion
    FROM Usuario u
    ORDER BY NombreUsuario
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerDetalleVenta]    Script Date: 22/9/2025 22:58:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_ObtenerDetalleVenta]
    @IdVenta INT
AS
BEGIN
    SELECT 
        iv.IdItem,
        p.Nombre AS Producto,
        iv.Cantidad,
        iv.PrecioUnitario,
        iv.Subtotal
    FROM ItemVenta iv
    INNER JOIN Producto p ON iv.IdProducto = p.IdProducto
    WHERE iv.IdVenta = @IdVenta
    ORDER BY p.Nombre;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ObtenerUsuarioPorNombre]    Script Date: 22/9/2025 22:58:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP_ObtenerUsuarioPorNombre
CREATE PROCEDURE [dbo].[SP_ObtenerUsuarioPorNombre]
    @Nombre NVARCHAR(50)
AS
BEGIN
    SELECT 
        IdUsuario,
        NombreUsuario,
        Rol,
        Activo,
        FechaCreacion,
        (SELECT NombreUsuario FROM Usuario WHERE IdUsuario = u.UsuarioCreacion) as UsuarioCreacion
    FROM Usuario u
    WHERE NombreUsuario = @Nombre
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ProductosStockBajo]    Script Date: 22/9/2025 22:58:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_ProductosStockBajo]
AS
BEGIN
    SELECT IdProducto, Nombre, StockActual, StockMinimo
    FROM Producto
    WHERE StockActual <= StockMinimo AND Visible = 1
    ORDER BY StockActual ASC;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_REGISTRAPRODUCTO]    Script Date: 22/9/2025 22:58:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_REGISTRAPRODUCTO]
    @Nombre NVARCHAR(100),
    @Tipo NVARCHAR(50),
    @PrecioVenta DECIMAL(10,2),
    @StockActual INT,
    @StockMinimo INT,
    @Visible BIT,
    @EsProductoBase BIT = 1,
    @IdProductoResultado INT OUTPUT,
    @Mensaje NVARCHAR(200) OUTPUT
AS
BEGIN
    BEGIN TRY
        INSERT INTO Producto (Nombre, Tipo, PrecioVenta, StockActual, StockMinimo, Visible, EsProductoBase)
        VALUES (@Nombre, @Tipo, @PrecioVenta, @StockActual, @StockMinimo, @Visible, @EsProductoBase);

        SET @IdProductoResultado = SCOPE_IDENTITY();
        SET @Mensaje = 'Producto registrado correctamente.';
    END TRY
    BEGIN CATCH
        SET @IdProductoResultado = 0;
        SET @Mensaje = ERROR_MESSAGE();
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_RegistrarCliente]    Script Date: 22/9/2025 22:58:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_RegistrarCliente]
    @Nombre NVARCHAR(100),
    @Apellido NVARCHAR(100),
    @Documento NVARCHAR(20),
    @Cuil NVARCHAR(20) = NULL,
    @Telefono NVARCHAR(20) = NULL,
    @Email NVARCHAR(100) = NULL,
    @Direccion NVARCHAR(200) = NULL,
    @IdClienteResultado INT OUTPUT,
    @Mensaje NVARCHAR(200) OUTPUT
AS
BEGIN
    BEGIN TRY
        -- Manejar valor NULL para Cuil
        IF @Cuil IS NULL
            SET @Cuil = '';
        
        INSERT INTO Cliente (Nombre, Apellido, Documento, Cuil, Telefono, Email, Direccion, Activo, FechaCreacion)
        VALUES (@Nombre, @Apellido, @Documento, @Cuil, @Telefono, @Email, @Direccion, 1, GETDATE());

        SET @IdClienteResultado = SCOPE_IDENTITY();
        SET @Mensaje = 'Cliente registrado correctamente.';
    END TRY
    BEGIN CATCH
        SET @IdClienteResultado = 0;
        SET @Mensaje = ERROR_MESSAGE();
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_RegistrarMateriaPrima]    Script Date: 22/9/2025 22:58:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Registrar materia prima
CREATE   PROCEDURE [dbo].[sp_RegistrarMateriaPrima]
    @Nombre NVARCHAR(100),
    @Unidad NVARCHAR(20),
    @CantidadDisponible FLOAT
AS
BEGIN
    INSERT INTO MateriaPrima (Nombre, Unidad, CantidadDisponible)
    VALUES (@Nombre, @Unidad, @CantidadDisponible);

    SELECT SCOPE_IDENTITY() AS IdGenerado;
END;

GO
/****** Object:  StoredProcedure [dbo].[SP_RegistrarProduccion]    Script Date: 22/9/2025 22:58:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_RegistrarProduccion]
    @IdProducto INT,
    @CantidadProducida INT,
    @Resultado NVARCHAR(200) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        DECLARE @Faltante NVARCHAR(200);

        -- 🔹 Verificar stock de materias primas antes de producir
        SELECT TOP 1 @Faltante = mp.Nombre
        FROM ProductoMateriaPrima pm
        INNER JOIN MateriaPrima mp ON pm.IdMateria = mp.IdMateria
        WHERE pm.IdProducto = @IdProducto
          AND mp.CantidadDisponible < (pm.CantidadNecesaria * @CantidadProducida);

        IF @Faltante IS NOT NULL
        BEGIN
            SET @Resultado = CONCAT('❌ No hay stock suficiente de materia prima: ', @Faltante);
            ROLLBACK TRANSACTION;
            RETURN;
        END

        -- 🔹 Insertar la producción
        INSERT INTO Produccion (IdProducto, CantidadProducida, FechaProduccion)
        VALUES (@IdProducto, @CantidadProducida, GETDATE());

        -- 🔹 Descontar stock de materias primas
        UPDATE mp
        SET mp.CantidadDisponible = mp.CantidadDisponible - (pm.CantidadNecesaria * @CantidadProducida)
        FROM MateriaPrima mp
        INNER JOIN ProductoMateriaPrima pm ON mp.IdMateria = pm.IdMateria
        WHERE pm.IdProducto = @IdProducto;

        COMMIT TRANSACTION;
        SET @Resultado = '✅ Producción registrada correctamente.';
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        SET @Resultado = ERROR_MESSAGE();
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_RegistrarProduccionCompleta]    Script Date: 22/9/2025 22:58:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_RegistrarProduccionCompleta]
    @IdOrdenProduccion INT,
    @CantidadProducida INT,
    @Observaciones NVARCHAR(255) = NULL
AS
BEGIN
    BEGIN TRY
        BEGIN TRANSACTION;

        -- Registrar producción real
        INSERT INTO ProduccionReal (IdOrdenProduccion, CantidadProducida, Observaciones, FechaInicio, FechaFin)
        VALUES (@IdOrdenProduccion, @CantidadProducida, @Observaciones, GETDATE(), GETDATE());

        -- Actualizar stock de producto
        UPDATE p
        SET p.StockActual = p.StockActual + @CantidadProducida
        FROM Producto p
        INNER JOIN OrdenProduccion op ON p.IdProducto = op.IdProducto
        WHERE op.IdOrdenProduccion = @IdOrdenProduccion;

        -- Actualizar estado de orden
        UPDATE OrdenProduccion 
        SET Estado = 'Completado' 
        WHERE IdOrdenProduccion = @IdOrdenProduccion;

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_RegistrarVenta]    Script Date: 22/9/2025 22:58:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_RegistrarVenta]
    @IdCliente INT,
    @IdUsuario INT,
    @DetalleVenta dbo.ItemVenta READONLY,
    @IdVenta INT OUTPUT,
    @Resultado NVARCHAR(200) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRAN;

        -- Insertar cabecera
        INSERT INTO Venta (IdCliente, IdUsuario, Fecha, Total)
        VALUES (@IdCliente, @IdUsuario, GETDATE(), 0);

        SET @IdVenta = SCOPE_IDENTITY();

        -- Insertar detalle
        INSERT INTO ItemVenta (IdVenta, IdProducto, Cantidad, PrecioUnitario)
        SELECT @IdVenta, IdProducto, Cantidad, PrecioUnitario
        FROM @DetalleVenta;

        -- Descontar stock
        UPDATE p
        SET p.StockActual = p.StockActual - iv.Cantidad
        FROM Producto p
        INNER JOIN ItemVenta iv ON p.IdProducto = iv.IdProducto
        WHERE iv.IdVenta = @IdVenta;

        -- Calcular total
        DECLARE @Total DECIMAL(10,2);
        SELECT @Total = SUM(Cantidad * PrecioUnitario) FROM ItemVenta WHERE IdVenta = @IdVenta;

        UPDATE Venta SET Total = @Total WHERE IdVenta = @IdVenta;

        COMMIT;
        SET @Resultado = N'✅ Venta registrada correctamente.';
    END TRY
    BEGIN CATCH
        ROLLBACK;
        SET @Resultado = ERROR_MESSAGE();
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ReporteVentasPorFecha]    Script Date: 22/9/2025 22:58:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_ReporteVentasPorFecha]
    @FechaInicio DATE,
    @FechaFin DATE
AS
BEGIN
    SELECT v.IdVenta, v.Fecha, c.Nombre AS Cliente, u.NombreUsuario AS Usuario, v.Total
    FROM Venta v
    INNER JOIN Cliente c ON v.IdCliente = c.IdCliente
    INNER JOIN Usuario u ON v.IdUsuario = u.IdUsuario
    WHERE v.Fecha BETWEEN @FechaInicio AND @FechaFin
    ORDER BY v.Fecha DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ReporteVentasPorFechaCompleto]    Script Date: 22/9/2025 22:58:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_ReporteVentasPorFechaCompleto]
    @FechaInicio DATE,
    @FechaFin DATE
AS
BEGIN
    SELECT 
        v.IdVenta,
        v.Fecha,
        c.Nombre + ' ' + c.Apellido AS Cliente,
        c.Documento AS DNI,
        u.NombreUsuario AS Usuario,
        v.Total,
        COUNT(iv.IdItem) AS CantidadProductos,
        STRING_AGG(p.Nombre + ' (' + CAST(iv.Cantidad AS NVARCHAR) + ')', ', ') AS Productos
    FROM Venta v
    INNER JOIN Cliente c ON v.IdCliente = c.IdCliente
    INNER JOIN Usuario u ON v.IdUsuario = u.IdUsuario
    INNER JOIN ItemVenta iv ON v.IdVenta = iv.IdVenta
    INNER JOIN Producto p ON iv.IdProducto = p.IdProducto
    WHERE v.Fecha BETWEEN @FechaInicio AND @FechaFin
    GROUP BY v.IdVenta, v.Fecha, c.Nombre, c.Apellido, c.Documento, u.NombreUsuario, v.Total
    ORDER BY v.Fecha DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ValidarLogin]    Script Date: 22/9/2025 22:58:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- SP_ValidarLogin
CREATE PROCEDURE [dbo].[SP_ValidarLogin]
    @Nombre NVARCHAR(50),
    @Clave NVARCHAR(100)
AS
BEGIN
    SELECT COUNT(*) 
    FROM Usuario 
    WHERE NombreUsuario = @Nombre
    AND Clave = HASHBYTES('SHA2_256', @Clave)
    AND Activo = 1
END
GO
/****** Object:  StoredProcedure [dbo].[sp_VentasPorCliente]    Script Date: 22/9/2025 22:58:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_VentasPorCliente]
    @IdCliente INT
AS
BEGIN
    SELECT v.IdVenta, v.Fecha, v.Total
    FROM Venta v
    WHERE v.IdCliente = @IdCliente
    ORDER BY v.Fecha DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_VerificarPermisos]    Script Date: 22/9/2025 22:58:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP_VerificarPermisos
CREATE PROCEDURE [dbo].[SP_VerificarPermisos]
    @IdUsuario INT,
    @RolRequerido NVARCHAR(20)
AS
BEGIN
    SELECT COUNT(*)
    FROM Usuario
    WHERE IdUsuario = @IdUsuario 
    AND Rol = @RolRequerido
    AND Activo = 1
END
GO
USE [master]
GO
